    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', "Sege UI Symbol";
        background-image: url("background.jpg");
    }
    
    h1 {
        text-align: center;
    }
    
    li {
        font-weight: bold;
    }
    
    table,
    td {
        border: 2px solid black;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
    
    p {
        font-weight: bold;
        text-align: center;
    }
    
    img {
        display: block;
        margin: 0 auto;
    }
    
    ul {
        display: table;
        margin: auto;
    }
    
    ol {
        display: table;
        margin: auto;
    }
    
    dl {
        display: table;
        margin: auto;
    }
    
    .main-container {
        padding: 20px;
    }
    
    .heading {
        text-align: center;
    }
    
    .heading_title {
        font-weight: 600;
    }
    
    .heading_link {
        text-decoration: none;
    }
    
    .heading_credits .heading_link {
        color: inherit;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .card {
        margin: 20px;
        padding: 20px;
        width: 500px;
        min-height: 200px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transition: all 0.2s;
    }
    
    .card-hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }
    
    .card_link {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
    }
    
    .card_link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
    }
    
    .card_link:hover::after {
        width: 100%;
    }
    
    .card_title {
        justify-self: center;
        font-weight: 400;
        color: #ffffff;
    }
    
    .card_apply {
        grid-row: 4/5;
        align-self: center;
    }
    
    .card-1 {
        background: radial-gradient(#1fe4f5, #3fbafe);
    }
    
    .card-2 {
        background: radial-gradient(#fbc1cc, #fa99b2);
    }
    
    .card-3 {
        background: radial-gradient(#76b2fe, #b69efe);
    }
    
    .card-4 {
        background: radial-gradient(#f588d8, #c0a3e5);
    }
    
    .card-5 {
        background: radial-gradient(#60efbc, #58d5c9);
    }